//SO MUCH REDUNDANT CSS

h1, h2, h3, h4, h5 {
    font-family: "Helvetica Neue", "Helvetica", "Aria", sans-serif;
}

* {
  outline: none !important;
}

button {
  outline: none !important;
}

button:active {
  background-color: rgb(232, 107, 36) !important;
  color: #fff !important;
}

.bubble {
	position: absolute;
	top: 0px !important;
	left: 0px;
  width: 100%;
  height: 100%;
}

#svg_main {
  cursor: ew-resize;
  width: 100%;
  height: 100%;
}

.button-div {
  position: absolute;
  right: 25px;
  top: 25px;
  float: right;
  z-index: 1;
}

.axis path,
.axis line {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
}

.axis text {
    fill: #666 !important;
    font-family: sans-serif;
    font-size: 11px;
}

.gc {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  cursor: pointer;
  opacity: 0.5;
}

.gc:hover {
  opacity: 0.8;
}

.popover {
  width: 240px;
}

button {
  color: rgb(232, 107, 36) !important;
  background-color: #fff !important;
  border: solid 1px rgb(232,107,36) !important;
}

button:hover {
  background-color: transparent !important;
}

button:active {
  background-color: transparent !important;
  box-shadow: none !important;
}

.open button {
  background-color: rgb(232, 107, 36) !important;
  color: #fff !important;
  box-shadow: none !important;
}

.dropdown-menu {
  background-color: #fff !important;
  box-shadow: none !important;
  border: solid 1px rgb(232, 107, 36) !important;
  color: rgb(232, 107, 36) !important;
  margin-top: 3px;
}

.dropdown-menu li a {
  color: rgb(232, 107, 36) !important;
}

.dropdown-menu li a:hover {
  color: #fff !important;
  background-color: rgb(232, 107, 36) !important;
}

.divider {
  background-color: rgb(232, 107, 36) !important;
}

.popover {
  background-color: #fff !important;
  border: solid 1px rgb(232, 107, 36) !important;
  color: rgb(232, 107, 36) !important;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
}

.popover h3 {
  background-color: rgb(232, 107, 36);
  border-bottom: solid 1px rgb(232, 107, 36);
  color: #fff;
  margin-top: -1px;
  margin-left: -1px;
  margin-right: -1px;
  text-align: center;
}

.gc text {
  fill: #000;
}

.gc text:hover {
  cursor: pointer;
}

.ga text {
  font-size: 10px;
}

.gat {
  font-size: 10px;
  text-transform: uppercase;
  fill: #666 !important;
}

.reset {
  cursor: pointer !important;
  z-index: 1;
  outline: none !important;
}

.reset:active {
  background-color: rgb(232, 107, 36) !important;
  color: #fff !important;
  outline: none !important;
}

.slider {
  position: absolute;
  left: 25px;
  top: 25px;
  height: 200px;
  background-color: #fff;
  border: solid 1px rgb(232,107,36) !important;
  box-shadow: none !important;
  width: 13px;
  opacity: 0.8;
  z-index: 1;
}

.noUi-handle {
  background-color: #fff !important;
  box-shadow: none !important;
  border: solid 1px rgb(232, 107, 36) !important;
  width: 20px !important;
  height: 20px;
  margin-left: 1px;
  cursor: pointer;
}

.noUi-handle::before {
  background-color: rgb(232, 107, 36) !important;
  width: 7px !important;
}

.noUi-handle::after {
  background-color: rgb(232, 107, 36) !important;
  width: 7px !important;
}

.noUi-connect {
  background-color: rgb(232, 107, 36) !important;
  box-shadow: none !important;
  border: solid 1px #fff;
}

.slideIn {
  display: none;
}

.cb {
  position: absolute;
  top: 25px;
  right: 215px;
  cursor: pointer !important;
  z-index: 1 !important;
  outline: none !important;
}

h2 {
  margin-top: 30px;
  color: rgb(232,107,36);
}

#help-btn {
  outline: none;
}

#help-btn:active {
  background-color: rgb(232, 107, 36) !important;
  color: #fff !important;
}

.modal-header .close {
  border: none !important;
  outline: none !important;
  opacity: 1;
  color: #fff !important;
  background-color: rgb(232, 107, 36) !important;
}

.modal-header .close:hover {
  background-color: rgb(232, 107, 36);
}

.modal-header .close:active {
  background-color: transparent !important;
  color: #fff !important;
}

.modal-header {
  background-color: rgb(232, 107, 36) !important;
  color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-bottom: 0px;
}

.modal-content {
  padding-top: 0;
  border-radius: 4px;
  border: solid 1px rgb(232, 107, 36) !important;
  box-shadow: none !important;
  color: rgb(232, 107, 36) !important;
}

.modal-body {
  padding-top: 30px !important;
  padding-left: 40px !important;
  padding-right: 50px !important;
}

.modal-footer {
  border-top: solid 1px rgb(232, 107, 36) !important;
  height: 60px !important;
  padding-top: 12px;
}

.modal-footer button {
  background-color: rgb(232, 107, 36) !important;
  color: #fff !important;
}

.modal-backdrop {
  opacity: 0.2 !important;
}

h5 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: none;
}

h4 {
  margin-top: 4px !important;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: none;
}

h6 {
  margin-top: 0;
  margin-bottom: none;
}

strong {
}

.modal-body p {
  border-top: solid 1px rgb(232, 107, 36);
  margin-bottom: 40px !important;
  padding-top: 10px;
  margin-top: -7px !important;
}

.detH h3 {
  font-size: 20px;
  margin-top: 0px;
  color: rgb(232, 107, 36) !important;
}

.detH h3 a {
  color: rgb(232, 107, 36) !important;
}

.detV h3 {
  margin-top: 0px;
  color: #ccc;
  font-size: 12px;
  margin-top: 6px;
}

.mr {
  margin-bottom: 40px;
}

.dr {
  margin-top: 5px;
}

#svg_place {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0 !important;
  padding: 0 !important;
}

#svg2 {
  margin: 0 !important;
  padding: 0 !important;
}

#svg2 text {
  fill: #999;
}
